<ion-view class="services-view" view-title="Subasta" cache-view="false">
    <ion-content scroll="true">
        <ion-list>
            <ion-item class="service-item" ng-repeat="item in subcategories track by $index" ng-click="openBookingConf(item.id_subcategoria)" ><!--  ui-sref="app.auction({subCategoryId:item.id_subcategoria})" -->
                <div back-img="data:image/png;base64,{{item.picture}}">
                    <h1>{{item.name}}</h1>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>