.auction-view{
    background: #ccc;
    .list{
        background-color: transparent;
        margin: 0 5px;
        .item{
            margin: 5px 0;
        }
    }
}

.text-rigth{
    float: right
}